# Hugo 
public/*
/node_modules/
resources/_gen/*

# Visual Studio Code
.vscode/*    # project metadata
.history/*   # local history

# OS
.DS_Store

# other miscellaneous build and project directories
.*/

# information to me only
*.txt 

